.infocontrol-form-wrapper {
    border: 1px solid gray;
    border-radius: 3px;
    height: auto;
    padding: 10px 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.infocontrol-form-wrapper > h1.title {
    display: inline-block;
}
.infocontrol-form-wrapper > form {
    margin-top: 10px;
    min-width: 300px;
    max-width:400px;
}
.nopaddingl {
    padding-left: 0px;
}
.nopaddingr {
    padding-right: 0px;
}
.form-group::after {
    content:'';
    clear:both;
    display:block;
}
.select2-container .select2-selection--single {
    height: 32px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 31px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
}
input#country,
input#gender,
input#birth_date {
    opacity:0;
    z-index:-1;
    position:absolute;
}
.mt-15 {
    margin-top: 15px;
}

.infocontrol-form-result {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #fff;
    font-weight: 600;
}
.ed-error-wrapper {
    display:none;
}
.ed-error-wrapper {
    position: absolute;
    background: #ff5959;
    width: 100%;
    z-index: 1;
    max-width: 400px;
}
.ed-error-wrapper > p {
    color: #fff;
    font-weight: 600;
    margin: 0px;
    padding: 5px;
    font-size: 12px;
    width: 100%;
    text-align: center;
}
.ed-error-wrapper.hw {
    max-width: 185px;
}